%font-style {
  font-family: 'Roboto', sans-serif;
}

%standard-transition {
  transition: 0.8s;
  -webkit-tranistion: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-tranistion: 0.8s;
}

%vertikal-center {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
