@import "helper/_variables.scss";
@import "helper/_placeholder.scss";

.ready-play {
  @extend %vertikal-center;
  text-align: center;
  h2 {
    color: #fff;
    @extend %font-style;
  }
  button {
    margin-top: 13px;
    color: #fff;
    background-color: $standard_color;
    border-color: #fff;
    @extend %standard-transition;
    &:hover {
      color: $standard_color;
      background-color: #fff;
    }
  }
}
