@import "helper/_placeholder.scss";
@import "helper/_variables.scss";

body {
  background: $standard_color;
}

header {
  .flex-header {
    display: flex;
    justify-content: space-between;
  }

  .logo-image {
    margin-left: 5%;
    padding-top: 10px;
    @media only screen and (max-width: 440px) {
      margin-left: 0;
    }
  }

  p {
    color: #fff;
    @extend %font-style;
    font-weight: 500;
    text-align: right;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 2px;
  }

  hr{
    width: $standard_width;
    background-color: white;
    margin-top: 0px;
  }
}
